/* 
    Created on : 21-Jun-2022, 6:00:35 pm
    Author     : Misbahul Haque
*/



.custom-bg{
    background: #E91E63!important;
}

.admin .card{
    border: 1px solid #E91E63;
}

.admin .card:hover{
    background: #e2e2e2;
    cursor: pointer;
}

.list-group-item.active{
    background: #E91E63!important;
    border-color: #E91E63!important;
}

button.custom-btn{
    font-weight: bold; 
    font-size: 20px;
}

.btn-go-to-cart{
    background: white!important;
    color: #E91E63!important;
    border-color: #E91E63!important;
}

.btn-go-to-cart:hover{
    background: lightgrey!important;
}

span.custom-btn{
    font-weight: bold; 
    font-size: 20px;
}

span.marked-price{
    color : white;
    font-size: 15px;
    font-style: italic!important;
    text-decoration: line-through;
}

span.discount{
    color : white;
    font-size: 15px;
    font-style: italic!important;
}

.product-card:hover{
    background: #e2e2e2;
    cursor: pointer;
}

label.heading {
    font-weight: bold;
}

.login-footer{
    white-space: pre;
}