<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.servlets.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductOperationServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.servlets.ProductOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryOperationServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.servlets.CategoryOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartOperationServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.servlets.CartOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentOperationServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.helper.payment.PaymentOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.servlets.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderOperationServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.servlets.OrderOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOTPServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.EmailVerification.SendOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.EmailVerification.VerifyOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendOtpServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.EmailVerification.ResendOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderUpdateServlet</servlet-name>
        <servlet-class>com.mycompany.onlineshoppingmanagementsystem.servlets.OrderUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductOperationServlet</servlet-name>
        <url-pattern>/ProductOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryOperationServlet</servlet-name>
        <url-pattern>/CategoryOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartOperationServlet</servlet-name>
        <url-pattern>/CartOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentOperationServlet</servlet-name>
        <url-pattern>/PaymentOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderOperationServlet</servlet-name>
        <url-pattern>/OrderOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOTPServlet</servlet-name>
        <url-pattern>/SendOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/VerifyOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendOtpServlet</servlet-name>
        <url-pattern>/ResendOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderUpdateServlet</servlet-name>
        <url-pattern>/OrderUpdateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
